body {
    background-color: #FFEFD5;
    padding: 50px;
}

h3 {
  background-color: #CD5C5C; 
  margin: 20px;
  font-family: Tahoma, sans-serif;
}

section {
    padding: 15px;
}

.midtext {
    font-family: Tahoma, sans-serif; 
}
