h2 {
  color: #CD5C5C; 
  margin: 20px;
  font-family: Tahoma, sans-serif;
  text-align: center;
}

section {
    padding: 15px;
    margin: 30px;
}

body {
    background-color: #FFEFD5;
    padding: 50px;
    margin: 50px;
}


header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
